experiments/*
options/tmp/
__pycache__/
.ruff_cache/
options/2xSPANGELION.yml
options/2xEVANGELIONv2.yml
options/2xEVANGELION.yml
options/2xBlackWhite.yml
options/1xSPANGelionPretrain.yml
options/1xSPANGELION_DEGRADATION_FINETUNE.yml
options/1xSPANGELION_DEGRADATION.yml
options/1xEVANGELION_DEGRADATION.yml
options/1x_SPANkenDeshittify.yml
options/optimizertest_span.yml
options/losstest_span.yml
options/archtest_span.yml
options/archtest.yml
options/animetest_span.yml
options/4x_SPANReal.yml
options/4x_SPANkendegradr_v2.yml
options/4x_SPANkendegradr_pretrain.yml
options/4x_SPANkendegradr_main.yml
options/4x_SPANkendataRestore.yml
options/4x_SPANkendata_FineTune3.yml
options/4x_RGTdegradr.yml
options/2xSPANGELIONv2.yml
options/2xSPANGelionPretrain.yml
options/2xSPANGelionFineTune.yml
options/2xSPANGELION_V2_FINETUNE.yml
options/2xSPANGELION_V2_EYES.yml
options/2xSPANGELION_V2.yml
options/2xSPANGELION_FINETUNE.yml
options/1x_SPANkenDenoise.yml
options/1x_SPANkendegradrEnhanced.yml
options/1x_SPANkendegradr_v2.yml
options/1x_SPANkendegradr.yml
options/1x_SPANkenDeblur.yml
.idea/inspectionProfiles/profiles_settings.xml
.idea/neosr-terrainer-experiments.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
datasets/DF2K/meta_info/meta_info_FrankendataUltra_4xRandomScale.txt
degradr/
helpful-scripts/
