[tool.poetry]
name = "neosr"
version = "0.1.0"
description = "neosr, a framework for training real-world single-image super-resolution networks."
authors = ["musl"]
license = "Apache 2.0"
readme = "readme.md"

[tool.poetry.dependencies]
python = "^3.12"
numpy = "^1.25.2"
einops = "^0.6.1"
scipy = "^1.11.1"
tb-nightly = "^2.14.0a20230802"
tqdm = "^4.65.0"
opencv-python-headless = "^4.8.1.78"
pywavelets = "^1.5.0"

[tool.ruff]
lint.select = ["ALL"]
lint.ignore = ["D211", "D213", "COM812", "ISC001", "T201"]
#ignore = [ "E501", "T201", "D", "CPY001", "TD002", "TD003", "COM812", "ISC001", "N8", "ANN", "S101" ]
target-version = "py312"
preview = true

[tool.ruff.format]
skip-magic-trailing-comma = true
line-ending = "lf"

[tool.ruff.lint.isort]
split-on-trailing-comma = false

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
