
name = "train_plksr_otf"
model_type = "otf"
scale = 4
#use_amp = true
#bfloat16 = true
#fast_matmul = true
#compile = true
#manual_seed = 1024

[datasets.train]
type = "otf"
dataroot_gt = 'C:\datasets\gt\'
patch_size = 48
batch_size = 8
#accumulate = 1
augmentation = [ "none", "mixup", "cutmix", "resizemix", "cutblur" ]
aug_prob = [ 0.5, 0.1, 0.1, 0.1, 0.5 ]

[degradations]
resize_prob = [ 0.3, 0.4, 0.3 ]
resize_range = [ 0.5, 1.5 ]
gaussian_noise_prob = 0.2
noise_range = [ 0, 2 ]
poisson_scale_range = [ 0.05, 0.25 ]
gray_noise_prob = 0.1
jpeg_range = [ 40, 95 ]
second_blur_prob = 0.4
resize_prob2 = [ 0.3, 0.4, 0.3 ]
resize_range2 = [ 0.3, 1.5 ]
gaussian_noise_prob2 = 0.2
noise_range2 = [ 0, 2 ]
poisson_scale_range2 = [ 0.05, 0.1 ]
gray_noise_prob2 = 0.1
jpeg_range2 = [ 35, 95 ]

blur_kernel_size = 7
kernel_list = [
  "iso",
  "aniso",
  "generalized_iso",
  "generalized_aniso",
  "plateau_iso",
  "plateau_aniso"
]
kernel_prob = [ 0.45, 0.25, 0.12, 0.03, 0.12, 0.03 ]
sinc_prob = 0.1
blur_sigma = [ 0.2, 3 ]
betag_range = [ 0.5, 4 ]
betap_range = [ 1, 2 ]
blur_kernel_size2 = 9
kernel_list2 = [
  "iso",
  "aniso",
  "generalized_iso",
  "generalized_aniso",
  "plateau_iso",
  "plateau_aniso"
]
kernel_prob2 = [ 0.45, 0.25, 0.12, 0.03, 0.12, 0.03 ]
sinc_prob2 = 0.1
blur_sigma2 = [ 0.2, 1.5 ]
betag_range2 = [ 0.5, 4 ]
betap_range2 = [ 1, 2 ]
final_sinc_prob = 0.8

[datasets.val]
name = "val"
type = "paired"
dataroot_gt = 'C:\datasets\val\gt\'
dataroot_lq = 'C:\datasets\val\lq\'
[val]
val_freq = 1000
#tile = 200
#[val.metrics.psnr]
#type = "calculate_psnr"
#[val.metrics.ssim]
#type = "calculate_ssim"
#[val.metrics.dists]
#type = "calculate_dists"
#better = "lower"

[path]
#pretrain_network_g = 'experiments\pretrain_g.pth'
#pretrain_network_d = 'experiments\pretrain_d.pth'

[network_g]
type = "plksr"
#type = "plksr_tiny"

[network_d]
type = "ea2fpn"

[train]
ema = 0.999
#sam = "fsam"
#sam_init = 1000
#eco = true
#eco_init = 15000
#wavelet_guided = true
#wavelet_init = 80000
#match_lq = true

[train.optim_g]
type = "adan_sf"
lr = 1.6e-3
betas = [ 0.98, 0.92, 0.987 ]
weight_decay = 0.02
schedule_free = true
warmup_steps = 1600

[train.optim_d]
type = "adan_sf"
lr = 8e-4
betas = [ 0.98, 0.92, 0.995 ]
weight_decay = 0.02
schedule_free = true
#warmup_steps = 500

#  losses
[train.mssim_opt]
type = "mssim_loss"
loss_weight = 1.0

[train.perceptual_opt]
type = "vgg_perceptual_loss"
loss_weight = 1.0
criterion = "huber"
#patchloss = true
#ipk = true
#patch_weight = 1.0

[train.gan_opt]
type = "gan_loss"
gan_type = "bce"
loss_weight = 0.3

[train.color_opt]
type = "color_loss"
loss_weight = 1.0
criterion = "huber"

[train.luma_opt]
type = "luma_loss"
loss_weight = 1.0
criterion = "huber"

#[train.dists_opt]
#type = "dists_loss"
#loss_weight = 0.5

#[train.ldl_opt]
#type = "ldl_loss"
#loss_weight = 1.0
#criterion = "huber"

#[train.ff_opt]
#type = "ff_loss"
#loss_weight = 1.0

#[train.gw_opt]
#type = "gw_loss"
#loss_weight = 1.0
#criterion = "chc_loss"

[logger]
total_iter = 1000000
save_checkpoint_freq = 1000
use_tb_logger = true
#save_tb_img = true
#print_freq = 100
